/* @override http://siteslab.org/cwcon/2013dev/sites/all/themes/cw2013/css/global.css?maenta */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?maeiik */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?maeiik */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?maeiik */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?maeiik */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?mad9lw */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?mad9lw */

/* @override http://siteslab.org/omegatest/sites/all/themes/cw2013/css/global.css?mad9lw */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* @override http://sandbox.siteslab.org/sites/all/themes/enculturation/css/global.css?mabj60 */

/* This file holds the main styles for Enculturation. */
/* The rules here are not media-specific and empty rules are included for regions/zones */
/* that may be included in future theme/design updates. */


/*sidebar class for first sidebar*/

.contentcw13wrapper {
	background-color: #161F1F;
}

.contentmiddle {
	border-right: 2px solid #714839;
	border-bottom: 2px solid #714839;

}

.sidebarfirstcolor {
	background: repeat-y #714839;
}
.breadcrumb{
	
	display: none;
}

body {
color: #fff;
line-height: 125%;
font-size: 85%;
}

h1, h2, h3, h4, h5, h6, a, p {
font-family: Arial, Verdana, sans-serif;
color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 5px;
	margin: 10px 0;
}

h1{
	font-size: 170%;
	font-weight: bold;
}
h2{
	font-size:  130%;
	font-weight: bold;

}
h3{
	font-size: 120%;
}
h4{
	font-size: 110%;
}


header {
	 background-color: #161F1F;
}


h1 {
font-weight: normal;
line-height: 1em;
}

a, a:link {
color: #EBA178;
text-decoration: none;
}

a:hover {
color: #EBA178;
text-decoration: underline;
}

td {
border: 1px solid gray;	
}

.region {
min-height: 0;
}

.view-authorship .author_info {
background-color: #000;
}

.front .node-readmore {
	display: none;
	}


#page {
	background-color: #161F1F;
	}
	
	#zone-menu-wrapper {
		background-color: #CD5A1E;
		background-color: #161F1F;
	
	}
	#zone-menu-wrapper a {

	}
		#region-menu {
		  background-color: #714839;
		  line-height: 30px;
	margin-left: -0em;
		}

#region-menu a:link {
color: #fff;
line-height: 30px;
font: Arial, Verdana, sans-serif;
}
		

nav.navigation {
  width: 100%;
  display: table;
  margin-left: 1em;
}

nav.navigation ul {
  display: table;

}

nav.navigation ul li {
  display: table-cell;
  float: left;
  margin: 0 auto 0 auto;
  padding: 5px auto 5px auto;
  border-right: 2px solid #fff;
}

nav.navigation ul li.last {
  border-right: none;
}
	#zone-user-wrapper {
		}
			#zone-user {
				}
					#region-user-first {
						}
					#region-user-second {
						}

	#zone-branding-wrapper {

	
	background-color: #984216;
		}
			#zone-branding {
			background-color: #984216;
				}
				#region-branding {
					}

	#zone-header-wrapper {
	background-color: #161f1f;
		}
		#zone-header {
		background-color: #161f1f;
		
			}
			#region-header-first {
			background-color: #161f1f;
			
				}
			#region-header-second { 
			background-color: #161f1f;
			
				}

	#zone-preface-wrapper {
		}
		#zone-preface {
			}
			#region-preface-first {
				}
			#region-preface-second {
				}

			#region-preface-third {
				}

		#zone-content {
		background-color: #161F1F;
		
			}
			#breadcrumb {
				}
			#messages {
				}
			#region-content {
				margin-left: 0;
                                padding-left: 6px;
			}
				#region-content h2 {
				font-weight: normal;
				
				}

                        div.figureleft {
                          float: left;
                          margin: 10px;
                          padding: 10px;
                          border: thin silver solid;
                        }

                        div.figureright {
                          float: right;
                          margin: 10px;
                          padding: 10px;
                          border: thin silver solid;
                        }

                        div.links {
                          clear: both;
                        }

			#region-sidebar-first {
		
			margin-left: 0;
			margin-right: 0;
			padding-left: .5em;
			padding-right: .5em;
			background-color: #714839;
			}
			
				#region-sidebar-first  h2 {
					background-color:#714839;
					font-weight: bold;
					font-size: 110%;
					margin:0;
					padding:0.25em;
				}
				
				/* This will likely disappear when articles are added */
			
				
				#region-sidebar-first li {
					
					background: none;
					list-style: none;
					margin: 0 1em 0 0;
					padding: 0;
				}
				
				#region-sidebar-first ul, form{
		

                                }

                                div.view-recent-publications div.views-row {
                                  padding-top: .5em;
                                  padding-bottom: .5em;
				}
				
			#region-sidebar-second {
				}

		#zone-postscript-wrapper {
			background-color: #161F1F;
			}
				#zone-postscript {
				
					}
						#region-postscript-first {
							background-color: #161F1F;
						}
						#region-postscript-second {
							background-color: #161F1F;
						}
						#region-postscript-third {
							background-color: #161F1F;
						}
						#region-postscript-fourth {
							background-color: #161F1F;
						}

		#zone-footer-wrapper {
	background-color: #984216;
		
			}
				#zone-footer {
				padding-top: 2em;
				padding-bottom: 2em;
				margin: 5px;
				
					}
						#region-footer-first {
						background-color: #984216;
							}
						#region-footer-second {
							}
