/* @override http://siteslab.org/cwcon/2013dev/sites/all/themes/cw2013/css/cw2013-alpha-default-normal.css?maenta */

/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 /*sidebar class for first sidebar*/

 
 
 body {
 color: #fff;
 line-height: 125%;
 font-size: 85%;
 }
 
 h1, h2, h3, h4, h5, h6, a, p {
 font-family: Arial, Verdana, sans-serif;
 color: #ffffff;
 }
 h1, h2, h3, h4, h5, h6 {
 	padding-bottom: 5px;
 	margin: 10px 0;
 }
 
 h1{
 	font-size: 170%;
 	font-weight: bold;
 }
 h2{
 	font-size:  130%;
 	font-weight: bold;
 
 }
 h3{
 	font-size: 120%;
 }
 h4{
 	font-size: 110%;
 }
 
 

 
 h1 {
 font-weight: normal;
 line-height: 1em;
 }
 

 
 td {
 border: 1px solid gray;	
 }
 
 .region {
 min-height: 0;
 }
 


 #page {
 	background-color: #161F1F;
 	}
 	
 	#zone-menu-wrapper {
 		background-color: #CD5A1E;
 		background-color: #161F1F;
 	
 	}
 	#zone-menu-wrapper a {
 
 	}
 		#region-menu {
 		 
 		  line-height: 30px;
 	margin-left: -0em;
 		}
 
 #region-menu a:link {

 line-height: 30px;

 }
 		
 
nav.navigation {

  margin-left: 1em;
}

 nav.navigation ul {
   display: table;
 
 }
 
 nav.navigation ul li {
   display: table-cell;
   float: left;
   margin: 0 auto 0 auto;
   padding: 5px auto 5px auto;
   border-right: 2px solid #fff;
 }
 
 nav.navigation ul li.last {
   border-right: none;
 }
 	#zone-user-wrapper {
 		}
 			#zone-user {
 				}
 					#region-user-first {
 						}
 					#region-user-second {
 						}
 
 	#zone-branding-wrapper {
 
 	
 	background-color: #984216;
 		}
 			#zone-branding {
 			background-color: #984216;
 				}
 				#region-branding {
 					}
 
 	#zone-header-wrapper {
 	background-color: #161f1f;
 		}
 		#zone-header {
 		background-color: #161f1f;
 		
 			}
 			#region-header-first {
 			background-color: #161f1f;
 			
 				}
 			#region-header-second { 
 			background-color: #161f1f;
 			
 				}
 
 	#zone-preface-wrapper {
 		}
 		#zone-preface {
 			}
 			#region-preface-first {
 				}
 			#region-preface-second {
 				}
 
 			#region-preface-third {
 				}
 
 		#zone-content {
 		background-color: #161F1F;
 		
 			}
 			#breadcrumb {
 				}
 			#messages {
 				}
 			#region-content {
 				margin-left: 0;
                                 padding-left: 6px;
 			}
 				#region-content h2 {
 				font-weight: normal;
 				
 				}
 
                         div.figureleft {
                           float: left;
                           margin: 10px;
                           padding: 10px;
                           border: thin silver solid;
                         }
 
                         div.figureright {
                           float: right;
                           margin: 10px;
                           padding: 10px;
                           border: thin silver solid;
                         }
 
                         div.links {
                           clear: both;
                         }
 
 			#region-sidebar-first {
 		
 			margin-left: 0;
 			margin-right: 0;
 			padding-left: .5em;
 			padding-right: .5em;
 			background-color: #714839;
 			}
 			
 				#region-sidebar-first  h2 {
 					background-color:#714839;
 					font-weight: bold;
 					font-size: 110%;
 					margin:0;
 					padding:0.25em;
 				}
 				
 				/* This will likely disappear when articles are added */
 			
 				
 				#region-sidebar-first li {
 					
 					background: none;
 					list-style: none;
 					margin: 0 1em 0 0;
 					padding: 0;
 				}
 				
 				#region-sidebar-first ul, form{
 		
 
                                 }
 
                                 div.view-recent-publications div.views-row {
                                   padding-top: .5em;
                                   padding-bottom: .5em;
 				}
 				
 			#region-sidebar-second {
 				}
 
 		#zone-postscript-wrapper {
 			background-color: #161F1F;
 			}
 				#zone-postscript {
 				
 					}
 						#region-postscript-first {
 							background-color: #161F1F;
 						}
 						#region-postscript-second {
 							background-color: #161F1F;
 						}
 						#region-postscript-third {
 							background-color: #161F1F;
 						}
 						#region-postscript-fourth {
 							background-color: #161F1F;
 						}
 
 		#zone-footer-wrapper {
 	background-color: #984216;
 		
 			}
 				#zone-footer {
 				padding-top: 2em;
 				padding-bottom: 2em;
 				margin: 5px;
 				
 					}
 						#region-footer-first {
 						background-color: #984216;
 							}
 						#region-footer-second {
 							}
 