/* @override http://siteslab.org/cwcon/2014/sites/all/themes/new2014subtheme/css/global.css?mthyak */

/* @override http://siteslab.org/cwcon/2014/sites/all/themes/new2014subtheme/css/global.css?mt6lbz */



/* This file holds styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */



/*  2014 colors 
	yellow is #a19734
	brown is #7e6b42
	light green  #5c7c35
	medium green is #3a624c
	dark green is #2e4424

*/
/* specific styling of the front page of the 2014 website. Hides the node page title, the sidebar region and creates a clean look
*/


not.front html {
		/* provide the front page of the mobile screen a consistent background color  */
		 	background-color: #2e4424;
	
}
.front #page-title {
display:none;
}

.front .region-sidebar-first {
	display: none;
}

.front #zone-content {
	background: none
}

.front #zone-preface {
	background: none;
}

.front .region-content-inner {
	border: 10px solid #2b3f21;
	padding-top: 20px;
}

.front img#logo {
	display:none;
}



.front #zone-branding-wrapper {
	background-color: none;
	background:none;
}

.front .region-content {
	padding-top: 0px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{ 
.sf-menu.sf-style-spring {
  font-size: 75%;
}
.logo-img {
	margin-left: -10px;
}
}
/* iphone */
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 500px) 
{ 
.sf-menu.sf-style-spring {
  font-size: 70%;
 
}
.logo-img {
	margin-left: -2px;
	width: 100%;

}

ul.primary li {
  display: run-in;
  float: left;
}


}
/* making the menu try to fit on one line */

.sf-menu.sf-style-spring {
  font-size: 80%;
}


html {
	background: -moz-linear-gradient(top, #f0e396 12%, #6e933b 89%) no-repeat fixed #f0e396;
	background: -webkit-linear-gradient(top, #f0e396 12%, #6e933b 89%) no-repeat fixed #f0e396;
}

#zone-branding-wrapper {
	background-color: #f0e396;
	padding-bottom: 10px;
}

.region-content {
	padding-top: 10px;
}

/*remove comments text format from sites */
#comments .filter-wrapper.form-wrapper {
	display: none;
}


/* specific styling of the 2014 branding image to override the omega core styling of the header logo. The omega core styling was preventing the 2014 logo from maximizing in the space provided. In the alpha-default-normal there is some margin specificity for the wider screens */
.logo-img {
  float: left;
  width: 107.9%;
  height: auto;
 padding-top:  .5em;
}

/*basic styles */ 

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

h2.block-title {
	color: #f7f7f7;
}

.region-sidebar-first a:link {
	color: #fff ;
}

a:link {
	color: #a19734;
}
 
.region-content-inner a:link {
	color: #000;
} 
 .region-content-inner {
	
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

#zone-content, #zone-preface {
	background-color: #2e4424;
	
	
}

.region-preface-first {
	padding-top: 10px;
	
	/*
	margin-bottom: -15px; */
}


	.region-header-first img {
		margin-top: 10px;
		border: 2px solid #fff;
		width: 100%;
		height: auto;
		
	}
	
	#block-block-5 div.block-inner.clearfix div.content.clearfix p img {
		width:100%;
	}
	
	#zone-header {
	background-color: #2e4424;
}

.region-sidebar-first label {
	color: #fff;
}


#zone-menu {
 padding-top: 10px;
}



.breadcrumb {
	display:none;
}


img#logo {

}

.region-preface-first-inner {
	background-color: #5c7c35;
}

/*styling the images to fit within their respective containers when viewed on different devices */

img {
  vertical-align: bottom;
  height: auto;
  width: auto%;
  max-width: 95%;
}

/* resize the user pictures to remain smaller than the regular image sizing */

div.profile div.user-picture {
	width: 100px;
	height: auto;
	
}

div.user-picture, .user-picture {
	width:  100px;
	height: auto;
}

.region-sidebar-first .block {
	border-bottom: 1px solid #eaebea;
}
/* remove the show weights from the node add proposal form */

form#proposal-node-form #field-presenter-s-add-more-wrapper  a.tabledrag-toggle-weight {
    display: none;
}

/* tell the twitter widget to play nicely when the window is resized  */

iframe#twitter-widget-0 {
	width: auto;
}

  /* padding: 1%; */

.region-content {
	background-color: #fff;
}


/* superfish main menu */

.sf-menu.sf-style-spring a.active
 {
 	background-color: #fff;
	 color: #000;
	 font-weight: bold;
	 border-right: 1px solid #ffffff;
	  border-left: 1px solid #ffffff;
 }

.sf-menu.sf-style-spring {
  float: left;
  margin-bottom: 1em;
  padding: 0;
  border-right-width: 2px;
}
.sf-menu.sf-style-spring.sf-navbar {
  width: 10%;
}
.sf-menu.sf-style-spring ul {
  padding-left: 0;

}
.sf-menu.sf-style-spring a {

  color: #fff;
  padding: 1em 1em;
  text-decoration: none;
  font-weight: bold;

}
.sf-menu.sf-style-spring a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-spring.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-spring.sf-navbar a {
  border: 0;
}
.sf-menu.sf-style-spring span.sf-description {
  color: #37731f;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-spring li,
.sf-menu.sf-style-spring.sf-navbar {
  background: #5c7c35;
}
.sf-menu.sf-style-spring li li {
  background: #eaffdb;
}
.sf-menu.sf-style-spring li li li {
  background: #daf8c5;
}
.sf-menu.sf-style-spring li:hover,
.sf-menu.sf-style-spring li.sfHover,
.sf-menu.sf-style-spring a:focus,
.sf-menu.sf-style-spring a:hover,
.sf-menu.sf-style-spring a:active,
.sf-menu.sf-style-spring.sf-navbar li li {
  background: #7e6b42;
 
}

/* wrap the menu bar in cwcon 2014 color and do the same to the page title*/

#page-title {
	
background-color: #5c7c35;
margin: .5em 0 1em;
padding: 10px 15px;
color: #ffffff;
font: 28px "Lucida Grande", Lucida, Verdana, sans-serif;
}

/* Online conference slideshow on front page */

.view-online-conference-slideshow .featuredabstract {
	color: #3b2702;
	width: 90%;
	background-color: #3a624c;
}
	
.featuredimage {
	float: right;
	margin-right: 15px;
	margin-bottom: 15px;
	}
	
.view-online-conference-slideshow a.views-more-link {
	color: #9a4d28;
}

div#views_slideshow_cycle_main_online_conference_slideshow-block.views_slideshow_main{
	background-color: #d1c7a5;
}

.view-online-conference-slideshow .views-field-field-session-hashtag {
	font-weight: bold;
	margin-left: 3%;
	font-size: 120%;
	color: #9a4d28;
	padding-bottom: 5px;;
}


#slideshow-wrapper .view-online-conference-slideshow .views-field-title a {
	font-size: 70%;
	color: #994d28;
}

.view-online-conference-slideshow img {
	margin: 2%;
}

div.view.view-featured-session-slider .featuredabstract {
	color: #cdc4a1;
	float:  right;
	width: 57%;
}

/* ridiculousy specific table hiding thing for the session content type...but it works*/

.article.node.node-time-slot.contextual-links-region.node-odd.node-full table {
	display: none;
}

/* alternate between color styles for odd and even rows within the related sessions view*/

div.view.view-related-sessions .views-row-odd  {
	background-color: #a74c1d;
	padding: 3px;
	margin: 10px;

}

div.profile .views-row-last {
	padding-bottom: 40px;
}

div.view.view-related-sessions .views-row-odd a {
	color: #ede5d3;
} 

div.view.view-related-sessions .views-row-even {
	background-color: #eee5d3;
	padding: 5px;
	margin: 10px;	
	
}

div.view.view-related-sessions .views-row-even a {
	color: #3b2702;
} 

div.view.view-related-sessions.view-id-related_sessions.view-display-id-block {
	padding-top: 10px;
}

div.tag-widget input.form-button {
	margin-left:  10px;
	background: url(../images/button-corner-smallorange.png) no-repeat 0 0;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 6px 15px;
	vertical-align: middle;
}


div.section.field.field-name-field-session-hashtag.field-type-list-text.field-label-hidden {
	font-weight: bold;
	font-size: 160%;
	color: #8a3e18;
	
}

/* theme the user profile volunteer tables */
.uservolunteerview caption  {
	padding-top: 12px;
	font-size: 1.1em;
	padding-bottom: 5px;
}

/* theme the user profile volunteer tables to align with one another */
.uservolunteerview table.views-table.cols-4 td{
	width: 30%;
}

.uservolunteerview table.views-table.cols-3 td {
	width: 35%
}

/* view specific styling for the video attachments */
div.view.view-video-attach.view-id-video_attach {
	padding-top: 10px;
	
}

div.view.view-video-attach.view-id-video_attach .view-header p {
	 background-color: #9a4e28;
	 padding-bottom: 10px;
	 padding-top: 10px;
	 color: #fffffe;
	 text-shadow: 0 0;
	 white-space: normal;
	 text-align: center;
 }
/* a little more customization on the plus 1 widget for styling at the top of the page. putting it here so it's not overridden with module updates*/
div.plus1-widget {
  float: left;
  clear: left;
  margin-right:5px;
  
}


.videoslideshow .more-link {
	position: relative;
	padding-bottom:5px;
	float: right;
}

/* Slideshow view on front page*/

div.views-field.views-field-field-keynote-presenter {
	font-weight: bold;
	color: #e2d7b3;
	font-size: 170%;
	padding-left:  15px;
	padding-top:  15px;
}

.views-field.views-field-field-keynote-title {
	font-weight: bold;
	color: #e2d7b3;
	font-size: 120%;
	padding-left:  15px;
	padding-top:  5px;
	padding-bottom: 5px;
	width: 90%;
}

 /* style the background of the slideshow */
#slideshow-wrapper .views_slideshow_main {
 /* background: #87916e;  the green */
 /* background-color: #89b0d3;   */
 background-color: #9a4e28;
 height: 100%;
 padding-bottom: 2%;
 margin-bottom: 15px;
}

a.views-more-link {
	color: #e2d7b3;
	
	
}

/* volunteer spotlight even height*/

.view-volunteer-list {
	background-color: #fff;
	padding: 10px;
}

/*registration page input*/

#user-register-form .field-name-field-last-name, #user-register-form .field-name-field-first-name  {
	float: none;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-bottom:0em;
}

/*styling for the user pages*/


.field-name-field-first-name  {
float:  left;
padding-right: .5em;
font-weight: bold;
padding-bottom: .5em;
}


.field-name-field-last-name
{
font-weight: bold;
padding-bottom: .5em;
}



/*style the idea hub tweets */

div.view.view-idea-hub-tweets{

background-color: #2b2c2b;
border-radius: 5px;
width: 90%;
padding-left: 10px;
padding-bottom: 5%;
padding-top: 5px;
padding-right: 2%;
margin-top: 2%;
margin-left: 2%;
margin-right: 2%;
margin-bottom: 10px;
color: #c5c4bf;
}

div.view.view-idea-hub-tweets a:link {
	color: #739a3e;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}



/* twitter view for session nodes*/

.views-field-field-tweet-author-image img {
	float: left;
	border-radius: 10px;
	margin-right: 13px;
	clear: left;
	margin-top:  2px;
	margin-bottom: 2px;
}

div.view.view-twitter-attach{

background-color: #e4d6b7;
border-radius: 5px;
width: 90%;
padding-left: 10px;
padding-bottom: 5%;
padding-top: 2px;
margin-top: 2%;
margin-left: 2%;
margin-bottom: 10px;

}

.twitterbody {
	padding-top: 12x;
	padding-bottom: 15px;
	margin-right: 4%;
}

.twitterauthor a {
	padding-top:  px;
}

div.view.view-twitter-attach a {
	color: #a74c1d;
}
/* turn the main wrapper green */


/* superfish menu 1 test. leaving this out for now but the superfish upgrade will break our theming of the superfish menu

#superfish-1 a {
	color: #9a4d28;
	border: none;
	margin: 10px;
	text-indent: 0px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	padding: 10px;
}

#superfish-1 li.active-trail {
  background: none; 
}


#superfish-1 a:hover  {
	color: #ded4b0;
	background: url(none) #9a4d28;
}

#superfish-1 a:active {
	color: #000;
	
}

ul#superfish-1.menu {
	margin: 5px;
	

} */

/* superfish menu 2 test

#superfish-2 a {
	color: #9a4d28;
	border: none;
	margin: 10px;
	padding: 10px;
	text-indent: 0px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

}

#superfish-2 a:hover  {
	color: #ded4b0;
	background: url(none) #9a4d28;
}

#superfish-2 a:active {
	color: #000;
	background: url(none) #ffffff;
}

ul#superfish-2.menu {
	margin: 5px;
	
} */

div#comments.comment-wrapper img {
	width: 25%;
	float: left;
	padding-right: 10px;
	margin: 3px;
}

div#comments {
	border-top: none;
	
}

div#comments.comment-wrapper p {
	color: #f6f2e6;
	background-color: #a64c1d;
	padding: 2px;
	margin-top: .2em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* hiding the comment title in the block */
div.block div#comments.comment-wrapper h3.comment-title {
	display:none;
}

div.block div#comments.comment-wrapper a.username {
	font-weight: bold;
	color: #ede5d3;
	font-size: 1.2em;
}

div.block #comments h2.title {
	color: #ede5d3;
	border-bottom: 1px solid #ede5d3;
	background: url(../images/airship2.png) no-repeat 90% 0px;
	padding-top: 24px
}

/* just in case we want the capitalization to be "normal" on the links :) */
div.article ul.links li a {
	text-transform: none;
}

/* push the volunteer view on the user page down a little bit. because it's crowding the label!*/
.uservolunteerview {
	
	margin-top:  60px;
}


/*presenter theming for session type */
/* new profile image class */

.profilenewimage img {
	border:3px solid #3b2702;
}


.profilenewfirstname
.profilenewlastname {
	padding-top: 4px;
}


.profilenewinstitution {
	margin-top: 2px;
}


.profilenewinstitutionlabel {
	
}


.profilenewtwitterhandle {
	margin-top: 2px;
	margin-bottom: 5px;
}

.profilenewtwitterhandlelabel, .scheduledate, .scheduletime {
	color: #a74c1d;
}
 

.profilenewtwitterhandlelabel
.profilenewuserlink {
	
}

.registration-who-msg { display: none; }


.node-type-session h1#page-title {
	font-size: 140%;
}

/* header 2 for node reference fields */
.node-type-session h2.node-title  {
	font-size: 140%;
	margin-bottom: -1px;
	
}

.node-type-session h2.node-title a {
	color: #bb5419;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;

}

/* abstract formatting */

.node-type-session .field-name-field-session-abstract {


}


/* date/time field*/

.node-type-session .field-type-datetime{

	width: 30%;
	
}


/* building location map within the session view */


.node-type-session .field-name-field-room {
	width: 55%;
	float: right;


}

/* style the user pictures within the session node */


/* hide the "2013 Computers & Writing Panels from each user listed on the session node page  */
.node-type-session div.profile h2 {
	font-size: 120%;
	display:  none;
}

/* specify the color of the hashtag within a table  */
td.views-field.views-field-field-session-hashtag {
	color: #a74c1d;
}

/* specify the width of each of the eva presenters  */
div.view.view-presenters-on-session .grid-inner  {
	width: 125px;
}

/* styling for the related sessions block. also moving the "more" link near the bottom */

div#block-views-related-sessions-block--2.block.block-views.contextual-links-region {
	border-top: 1px solid #e3d6b6;
	padding-top: 8px;
	padding-bottom: 20px;
}

div#block-views-related-sessions-block--2.block.block-views.contextual-links-region div.more-link {
padding-top: 8px;
top: 90%;
}

