/* @override http://siteslab.org/cwcon/2014stage/sites/all/themes/new2014subtheme/css/new2014subtheme-alpha-default-wide.css?mq8pmk */

/* This file will hold styles that are loaded using the same media query as the wide grid. */


html {
	/* background-color: #e3d7b3;  */
	    background: -moz-linear-gradient(top, #f0e396 12%, #6e933b 89%) no-repeat fixed #f0e396;
	    background: -webkit-linear-gradient(top, #f0e396 12%, #6e933b 89%) no-repeat fixed #f0e396;
	}