/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/cwcon2013.css?mmuote */

/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/cwcon2013.css?mmujgr */

/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/cwcon2013.css?mmujgr */

/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/cwcon2013.css?mmsyq1 */

/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/cwcon2013.css?mmrmy4 */

/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/cwcon2013.css?mmrmy4 */


/* ridiculousy specific table hiding thing for the session content type...but it works*/

.article.node.node-time-slot.contextual-links-region.node-odd.node-full table {
	display: none;
}

div.tag-widget input.form-button {
	margin-left:  10px;
	background: url(../images/button-corner-smallorange.png) no-repeat 0 0;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 6px 15px;
	vertical-align: middle;
}


div.section.field.field-name-field-session-hashtag.field-type-list-text.field-label-hidden {
	font-weight: bold;
	font-size: 160%;
	color: #8a3e18;
	
}


/* a little more customization on the plus 1 widget for styling at the top of the page. putting it here so it's not overridden with module updates*/
div.plus1-widget {
  float: left;
  clear: left;
  margin-right:5px;
  
}


.videoslideshow .more-link {
	position: relative;
	padding-bottom:5px;
	float: right;
}

/* Slideshow view on front page*/

div.views-field.views-field-field-keynote-presenter {
	font-weight: bold;
	color: #e2d7b3;
	font-size: 170%;
	padding-left:  5px;
	padding-top:  5px;
}

.views-field.views-field-field-keynote-title {
	font-weight: bold;
	color: #e2d7b3;
	font-size: 120%;
	padding-left:  5px;
	padding-top:  5px;
	padding-bottom: 5px;
}

 /* style the background of the slideshow */
#slideshow-wrapper .views_slideshow_main {
 /* background: #87916e;  the green */
 /* background-color: #89b0d3;   */
 background-color: #9a4e28;
 height: 100%;
 padding-bottom: 5%;
}

a.views-more-link {
	color: #e2d7b3;
	
	
}

/* volunteer spotlight even height*/

.view-volunteer-list {
	background-color: #fff;
	padding: 10px;
}

/* styling for the user pages*/

.field-name-field-first-name  {
float:  left;
padding-right: .5em;
font-weight: bold;
padding-bottom: .5em;
}

.field-name-field-last-name
{
font-weight: bold;
padding-bottom: .5em;
}
/*Style the sidebar menu for cwcon 2013 so that the cool icons show up */

.block ul.menu li.menu-icon-1 a {
  background: url(../images/compass.png) no-repeat 10px 15px;
  padding-left: 50px;
}

.block ul.menu li.menu-icon-2 a {
  background: url(../images/key.png) no-repeat 11px 15px;
  padding-left: 50px;
}

.block ul.menu li.menu-icon-3 a {
  background: url(../images/gearicon2.png) no-repeat 10px 15px;
  padding-left: 50px;
}

.block ul.menu li.menu-icon-4 a {
  background: url(../images/icon-1.png) no-repeat 10px 10px;
  padding-left: 50px;
}

.block ul.menu li.menu-icon-5 a {
  background: url(../images/airship2.png) no-repeat 10px 15px;
  padding-left: 50px;
}

/* twitter view for session nodes*/

.views-field-field-tweet-author-image img {
	float: left;
	border-radius: 10px;
	margin-right: 13px;
	
}

div.view.view-twitter-attach{

background-color: #e4d6b7;
border-radius: 5px;
width: 90%;
padding-left: 10px;
padding-bottom: 20px;
padding-top: 2px;
margin-top: 2%;
margin-left: 2%;
}
div.view.view-twitter-attach a {
	color: #a74c1d;
}


/* turn the main wrapper brown */

#main-wrapper > .container {
	padding: 10px 0 10px 10px;
  background-color: #3b2703;
}

/* wrap the menu bar in cwcon 2013 color and do the same to the page title*/

#menu-bar-wrapper .region-menu-bar {
  background: #e3d7b3;
  width: 100%;
 
}

#page-title {
	
background-color: #dbc79e; 
font-size: 24px;
margin: .5em 0 1em;
padding: 10px 15px;
}
/* superfish menu 1 test. leaving this out for now but the superfish upgrade will break our theming of the superfish menu

#superfish-1 a {
	color: #9a4d28;
	border: none;
	margin: 10px;
	text-indent: 0px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	padding: 10px;
}

#superfish-1 li.active-trail {
  background: none; 
}


#superfish-1 a:hover  {
	color: #ded4b0;
	background: url(none) #9a4d28;
}

#superfish-1 a:active {
	color: #000;
	
}

ul#superfish-1.menu {
	margin: 5px;
	

} */

/* superfish menu 2 test

#superfish-2 a {
	color: #9a4d28;
	border: none;
	margin: 10px;
	padding: 10px;
	text-indent: 0px;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

}

#superfish-2 a:hover  {
	color: #ded4b0;
	background: url(none) #9a4d28;
}

#superfish-2 a:active {
	color: #000;
	background: url(none) #ffffff;
}

ul#superfish-2.menu {
	margin: 5px;
	
} */

div#comments.comment-wrapper img {
	width: 25%;
	float: left;
	padding-right: 10px;
	margin: 3px;
}

div#comments {
	border-top: none;
}

div#comments.comment-wrapper p {
	font-size: 14px;
	color: #f6f2e6;
}





/* push the volunteer view on the user page down a little bit. because it's crowding the label!*/
.uservolunteerview {
	
	margin-top:  60px;
}


/*presenter theming for session type */
/* new profile image class */

.profilenewimage img {
	border:3px solid #3b2702;
}


.profilenewfirstname
.profilenewlastname {
	padding-top: 4px;
}


.profilenewinstitution {
	margin-top: 2px;
}


.profilenewinstitutionlabel {
	
}


.profilenewtwitterhandle {
	margin-top: 2px;
	margin-bottom: 5px;
}

.profilenewtwitterhandlelabel, .scheduledate, .scheduletime {
	color: #a74c1d;
}
 

.profilenewtwitterhandlelabel
.profilenewuserlink {
	
}

.registration-who-msg { display: none; }


.node-type-session h1#page-title {
	font-size: 140%;
}

/* header 2 for node reference fields */
.node-type-session h2.node-title  {
	font-size: 140%;
	margin-bottom: -1px;
	
}

.node-type-session h2.node-title a {
	color: #bb5419;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;

}

/* abstract formatting */

.node-type-session .field-name-field-session-abstract {


}


/* date/time field*/

.node-type-session .field-type-datetime{

	width: 30%;
	
}


/* building location map within the session view */


.node-type-session .field-name-field-room {
	width: 55%;
	float: right;


}

/* style the user pictures within the session node */


/* hide the "2013 Computers & Writing Panels from each user listed on the session node page  */
.node-type-session div.profile h2 {
	font-size: 120%;
	display:  none;
}

/* specify the color of the hashtag within a table  */
td.views-field.views-field-field-session-hashtag {
	color: #a74c1d;
}

/* specify the width of each of the eva presenters  */
div.view.view-presenters-on-session .grid-inner  {
	width: 125px;
}



