/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/html-elements.css?mkndgp */

/* @override http://siteslab.org/cwcon/2013/sites/all/themes/tb_events/css/html-elements.css?mklbwe */



/* @override http://siteslab.org/cwcon/2013stage/sites/all/themes/tb_events/css/html-elements.css?mka8fb */


@import url(../fonts/trebuchetMS/stylesheet.css);
/* header for presenter view*/
.presenter_view_school {
	text-align: left;
	font-size: 1.5em;
}

html {
  font-size: 62.5%; /* Change base font-size to 10px. */
}

/* any image inside a p tag*/
p img {
	padding: 10px;
}

#frost {
	
}

.cwconmenu {
	font-variant: small-caps;
}


body {
	/* background-color: #e3d7b3;  */
	    background: linear-gradient(top , #FFFFFF 2%, #d9c499 89%);
	    background: -moz-linear-gradient(top , #FFFFFF 2%, #d9c499 89%);
	    background: -webkit-linear-gradient(top , #FFFFFF 2%, #d9c499 89%);
	        }
/*	background-image: -webkit-gradient(linear, left bottom, left top, from(#d9c499), to(white)); 
} */

.sidebar {
	background-color: #ccc;
}

body {
  /*background-color: #e3d7b3; 
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d9c499), to(white));  line-height: 1.5; /* Unit-less line-height means line height can scale. */
}

/* --- Profiles for cwcon --- */
.profile {
	margin-top: 0;
	background-color: #dbc79d;
	padding: 10px;
}




.profile .user-picture img {
  float: right;
  padding: 3px;
  background-color: #3b2702;
 
}




/* User Profiles */

#user-picture img {
	border-style: solid;
	border-color: #e2e275;
}


/* Headings */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em; 
}

h3 		{
  font-size: 1.167em;
}

h4 {
  font-size: 1em;
}

h5, h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0 0 .5em;
}

p {
  margin: 1em 0;
  padding: 0;
}

p:first-child {
  margin-top: 0;
}

em,
dfn {
  font-style: italic;
}

ins {
  border-bottom: none;
  text-decoration: none;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
}

blockquote,
q {
  font-style: italic;
  quotes: "" "";
}

blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote p {
  margin: 0;
}

strong,
dfn,
caption,
th {
  font-weight: bold;
}

/* Reset horizonatal rules */
hr {
  border-style: inset;
  border-width: 1px;
  display: block;
}

/* Lists */
ul,
ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
}

ol {
  margin-left: 2em;
}

.item-list ul,
.item-list ol {
  margin: 0 0 0 1em;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul ul,
ul ul ul ul {
  list-style-type: circle;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5em 1.538em;
}

/* Common Tables ---*/
table {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.sticky-header {
  z-index: 10;
}

/* Table Head */
thead {
}

th {
  border-bottom: 0;
  /* background: #5997cb; */
  background: #a84c1d ;
  color: #fff;
  padding: .75em 1em;
}

th a {
  color: #FFF;
}

th a:hover,
th a:active,
th a:focus {
  color: #FFF;
}

thead th {
}

/* Table Body */
tbody {
 background-color:  #fff;
 border: 1px solid #333;

}

td {
  padding: .75em 1em;
}

tr.even,
tr.odd {
  background-color: transparent;
  border-bottom: 0
}

tr.even td,
tr.odd td {
  border-bottom: 1px dotted #CCC;
}

tr.odd,
tr.info {
}

tr.even {
  background-color: transparent;
}

tr.drag {
}

tr.drag-previous {
}

tr.odd td.active {
}

tr.even td.active {
}

td.region,
td.module,
td.container td.category {
}

.sticky-table {
  width: 100%;
}

th.active img {
  margin-left: 5px;
}